-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: acumena
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ai_pair_filtered`
--

DROP TABLE IF EXISTS `ai_pair_filtered`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_pair_filtered` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `run_id` bigint unsigned NOT NULL,
  `project_id` bigint unsigned NOT NULL,
  `pair_type` enum('S-O','W-O','S-T','W-T') NOT NULL,
  `left_id` bigint DEFAULT NULL,
  `right_id` bigint DEFAULT NULL,
  `left_text` text,
  `right_text` text,
  `priority` decimal(10,4) DEFAULT NULL,
  `rel` decimal(10,4) DEFAULT NULL,
  `final` decimal(10,4) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_pair_filtered`
--

LOCK TABLES `ai_pair_filtered` WRITE;
/*!40000 ALTER TABLE `ai_pair_filtered` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_pair_filtered` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_strategy`
--

DROP TABLE IF EXISTS `ai_strategy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_strategy` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `run_id` bigint unsigned NOT NULL,
  `project_id` bigint unsigned NOT NULL,
  `pair_type` enum('S-O','W-O','S-T','W-T') COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `statement` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `priority_score` decimal(10,4) NOT NULL DEFAULT '0.0000',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_run` (`run_id`),
  KEY `idx_project_pair` (`project_id`,`pair_type`),
  KEY `idx_project_run` (`project_id`,`pair_type`,`run_id`),
  CONSTRAINT `fk_ai_strategy_run` FOREIGN KEY (`run_id`) REFERENCES `project_ai_generation_run` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=99 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_strategy`
--

LOCK TABLES `ai_strategy` WRITE;
/*!40000 ALTER TABLE `ai_strategy` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_strategy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matrix_ie_quadrant_strategies`
--

DROP TABLE IF EXISTS `matrix_ie_quadrant_strategies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matrix_ie_quadrant_strategies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `quadrant` varchar(5) NOT NULL DEFAULT '1',
  `strategy` text NOT NULL,
  `date_created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `last_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matrix_ie_quadrant_strategies`
--

LOCK TABLES `matrix_ie_quadrant_strategies` WRITE;
/*!40000 ALTER TABLE `matrix_ie_quadrant_strategies` DISABLE KEYS */;
/*!40000 ALTER TABLE `matrix_ie_quadrant_strategies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_ai_generation_run`
--

DROP TABLE IF EXISTS `project_ai_generation_run`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_ai_generation_run` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint unsigned NOT NULL,
  `pair_type` enum('S-O','W-O','S-T','W-T') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Jenis pasangan SWOT',
  `stage` enum('initialized','semantic_done','strategy_done','failed') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'initialized' COMMENT 'Status proses',
  `model` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Model AI yang digunakan (opsional)',
  `temperature` decimal(4,2) DEFAULT NULL COMMENT 'Temperature AI (opsional)',
  `max_output_tokens` int DEFAULT NULL COMMENT 'Batas token output (opsional)',
  `is_active` tinyint(1) NOT NULL DEFAULT '1' COMMENT '0 = tidak aktif (sudah diganti run baru)',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `archived_at` datetime DEFAULT NULL COMMENT 'Menandai kapan run ini digantikan oleh run baru',
  PRIMARY KEY (`id`),
  KEY `idx_project_pair` (`project_id`,`pair_type`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_ai_generation_run`
--

LOCK TABLES `project_ai_generation_run` WRITE;
/*!40000 ALTER TABLE `project_ai_generation_run` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_ai_generation_run` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_prioritized_strategies`
--

DROP TABLE IF EXISTS `project_prioritized_strategies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_prioritized_strategies` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT COMMENT 'Auto-increment ID',
  `uuid` char(36) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'UUID v4 untuk API reference',
  `project_id` bigint unsigned NOT NULL COMMENT 'Link ke projects table',
  `ai_strategy_id` bigint unsigned DEFAULT NULL COMMENT 'Link ke ai_strategy table (nullable)',
  `created_by_user_id` bigint unsigned NOT NULL COMMENT 'User yang create/save',
  `pair_type` enum('S-O','W-O','S-T','W-T') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Tipe pasangan SWOT',
  `strategy_code` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Kode short: SO1, ST2, WO3, WT4',
  `strategy_statement` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Isi strategi lengkap',
  `priority_rank` int NOT NULL DEFAULT '1' COMMENT 'Urutan prioritas (1=tertinggi)',
  `priority_score` decimal(5,4) DEFAULT NULL COMMENT 'Score dari AI (0.0000-1.0000)',
  `status` enum('draft','approved','in_progress','completed','archived') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft' COMMENT 'Status eksekusi strategi',
  `selected_by_user` tinyint(1) DEFAULT '0' COMMENT 'User explicitly pilih?',
  `selection_justification` text COLLATE utf8mb4_unicode_ci COMMENT 'Alasan user memilih strategy ini',
  `internal_notes` text COLLATE utf8mb4_unicode_ci COMMENT 'Notes internal untuk tim',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Waktu dibuat',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'Terakhir diupdate',
  `is_deleted` timestamp NULL DEFAULT NULL COMMENT 'Soft delete timestamp',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uuid` (`uuid`),
  KEY `idx_project_id` (`project_id`) COMMENT 'Filter by project',
  KEY `idx_pair_type` (`pair_type`) COMMENT 'Filter by SWOT type',
  KEY `idx_status` (`status`) COMMENT 'Filter by status',
  KEY `idx_priority_rank` (`priority_rank`) COMMENT 'Sort by priority',
  KEY `idx_ai_strategy_id` (`ai_strategy_id`) COMMENT 'Join dengan ai_strategy',
  KEY `idx_created_by_user_id` (`created_by_user_id`) COMMENT 'Track by user',
  KEY `idx_is_deleted` (`is_deleted`) COMMENT 'Filter deleted records',
  KEY `idx_project_pair_status` (`project_id`,`pair_type`,`status`),
  KEY `idx_project_priority` (`project_id`,`priority_rank`),
  KEY `idx_user_created` (`created_by_user_id`,`created_at`),
  CONSTRAINT `fk_ps_ai_strategy_id` FOREIGN KEY (`ai_strategy_id`) REFERENCES `ai_strategy` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_ps_created_by_user_id` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_ps_project_id` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Tabel untuk menyimpan prioritized strategies per project';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_prioritized_strategies`
--

LOCK TABLES `project_prioritized_strategies` WRITE;
/*!40000 ALTER TABLE `project_prioritized_strategies` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_prioritized_strategies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_swot`
--

DROP TABLE IF EXISTS `project_swot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_swot` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint unsigned NOT NULL,
  `description` text NOT NULL,
  `category` enum('S','W','O','T') NOT NULL,
  `weight` decimal(4,2) DEFAULT NULL,
  `rating` tinyint DEFAULT NULL,
  `date_created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `project_swot_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_swot`
--

LOCK TABLES `project_swot` WRITE;
/*!40000 ALTER TABLE `project_swot` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_swot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `projects` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `company_name` varchar(255) NOT NULL,
  `industry` varchar(225) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `description` text,
  `vision` text,
  `mission` text,
  `date_created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uuid` (`uuid`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `projects_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `value` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `strategic_recommendations`
--

DROP TABLE IF EXISTS `strategic_recommendations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `strategic_recommendations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint unsigned NOT NULL,
  `strategic_theme` longtext,
  `alignment_with_position` longtext,
  `short_term_actions` json DEFAULT NULL,
  `long_term_actions` json DEFAULT NULL,
  `resource_implications` json DEFAULT NULL,
  `risk_mitigation` json DEFAULT NULL,
  `ife_score` decimal(5,2) DEFAULT NULL,
  `efe_score` decimal(5,2) DEFAULT NULL,
  `quadrant` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_project_id` (`project_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `strategic_recommendations_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `strategic_recommendations`
--

LOCK TABLES `strategic_recommendations` WRITE;
/*!40000 ALTER TABLE `strategic_recommendations` DISABLE KEYS */;
/*!40000 ALTER TABLE `strategic_recommendations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptions`
--

DROP TABLE IF EXISTS `subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `project_qty` int DEFAULT '1',
  `max_step` varchar(255) DEFAULT NULL,
  `project_api_generate_quota` int DEFAULT '0',
  `price_monthly` decimal(10,0) NOT NULL,
  `price_yearly` decimal(10,0) NOT NULL,
  `label` json NOT NULL,
  `date_created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptions`
--

LOCK TABLES `subscriptions` WRITE;
/*!40000 ALTER TABLE `subscriptions` DISABLE KEYS */;
INSERT INTO `subscriptions` VALUES (1,'Trial',1,'matrix-ie',0,0,0,'{\"icon\": null, \"text_color\": \"#fff\", \"background_color\": \"#ff6600\"}','2025-10-24 12:45:07','2025-11-04 12:34:50',NULL),(2,'Pro Plan',0,NULL,0,200000,2000000,'{\"icon\": null, \"text_color\": \"#fff\", \"background_color\": \"#ff6600\"}','2025-10-24 12:48:27','2025-10-31 03:09:32',NULL);
/*!40000 ALTER TABLE `subscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_menu`
--

DROP TABLE IF EXISTS `user_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_menu` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `menu_name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `short` varchar(50) DEFAULT NULL,
  `date_created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_menu`
--

LOCK TABLES `user_menu` WRITE;
/*!40000 ALTER TABLE `user_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_password_resets`
--

DROP TABLE IF EXISTS `user_password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_password_resets` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `token_hash` char(64) NOT NULL,
  `created_at` datetime NOT NULL,
  `expires_at` datetime NOT NULL,
  `used` tinyint(1) DEFAULT '0',
  `request_ip` varchar(45) DEFAULT NULL,
  `request_user_agent` text,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `token_hash` (`token_hash`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_password_resets`
--

LOCK TABLES `user_password_resets` WRITE;
/*!40000 ALTER TABLE `user_password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_role`
--

DROP TABLE IF EXISTS `user_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_role` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `role_name` varchar(255) NOT NULL,
  `date_created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_role`
--

LOCK TABLES `user_role` WRITE;
/*!40000 ALTER TABLE `user_role` DISABLE KEYS */;
INSERT INTO `user_role` VALUES (1,'User','2025-10-24 12:49:33','2025-10-24 12:49:33',0),(2,'Admin','2025-10-24 12:49:33','2025-10-24 12:49:33',0);
/*!40000 ALTER TABLE `user_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_role_menu`
--

DROP TABLE IF EXISTS `user_role_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_role_menu` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `role_id` bigint unsigned NOT NULL,
  `menu_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `role_id` (`role_id`),
  KEY `menu_id` (`menu_id`),
  CONSTRAINT `user_role_menu_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `user_role` (`id`),
  CONSTRAINT `user_role_menu_ibfk_2` FOREIGN KEY (`menu_id`) REFERENCES `user_menu` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_role_menu`
--

LOCK TABLES `user_role_menu` WRITE;
/*!40000 ALTER TABLE `user_role_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_role_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_subscription`
--

DROP TABLE IF EXISTS `user_subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_subscription` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `subscription_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `subscription_id` (`subscription_id`),
  CONSTRAINT `user_subscription_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `user_subscription_ibfk_2` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_subscription`
--

LOCK TABLES `user_subscription` WRITE;
/*!40000 ALTER TABLE `user_subscription` DISABLE KEYS */;
INSERT INTO `user_subscription` VALUES (1,1,1),(2,3,1),(3,4,1);
/*!40000 ALTER TABLE `user_subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_subscription_history`
--

DROP TABLE IF EXISTS `user_subscription_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_subscription_history` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `invoice_number` varchar(255) NOT NULL,
  `subscription_id` varchar(64) NOT NULL,
  `subscription_name` varchar(255) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `price_discount` decimal(10,2) DEFAULT '0.00',
  `date_start` timestamp NOT NULL,
  `date_end` timestamp NOT NULL,
  `payment_proof` varchar(255) DEFAULT NULL,
  `payment_proof_notes` text NOT NULL,
  `status` enum('paid','unpaid','processing','canceled','rejected','cenceled') CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT 'unpaid',
  `is_active` varchar(64) NOT NULL,
  `date_created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `uuid` (`uuid`),
  CONSTRAINT `user_subscription_history_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_subscription_history`
--

LOCK TABLES `user_subscription_history` WRITE;
/*!40000 ALTER TABLE `user_subscription_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_subscription_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_verify`
--

DROP TABLE IF EXISTS `user_verify`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_verify` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(64) NOT NULL,
  `otp` int NOT NULL,
  `date_created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `date_expired` timestamp NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_verify`
--

LOCK TABLES `user_verify` WRITE;
/*!40000 ALTER TABLE `user_verify` DISABLE KEYS */;
INSERT INTO `user_verify` VALUES (3,'sevencols@gmail.com',670546,'2025-11-04 17:09:35','2025-11-04 21:09:35');
/*!40000 ALTER TABLE `user_verify` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` char(36) NOT NULL,
  `full_name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role_id` bigint unsigned NOT NULL,
  `is_active` int NOT NULL DEFAULT '0',
  `remember_token` varchar(225) DEFAULT NULL,
  `remember_expires_at` datetime DEFAULT NULL,
  `date_created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_deleted` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uuid` (`uuid`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `user_role` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-13 10:47:09
